.container {
  margin: 3rem 0;
  .flex {
    display: flex;
    gap: 1rem;
  }
  .box {
    padding: 24px 0;
    flex-grow: 1;
    border-radius: var(--radius);
    min-width: 50px;
  }
  .input {
    flex-grow: 3;
    min-width: 50px;
    border: 1px solid var(--gray-light);
    padding: 0 0.5rem;
    color: var(--gray-darker);
    background-color: var(--input);
    &:focus{
      outline: none;
    }
  }
  .submit {
    flex-grow: 1;
    padding: 0 0.5rem;
    border: 1px solid var(--gray-light);
    border-radius: var(--radius);
    color: var(--gray-darkest);
    background-color: var(--gray-lighter);
    &:hover {
      cursor: pointer;
    }
  }
}
