:root {
  --background: hsl(0, 0%, 100%);
  --radius: 4px;
  --foreground: hsl(206, 13%, 25%);
  --heading: hsl(206, 12%, 43%);
  --paragraph: hsl(205, 8%, 70%);
  --border: hsl(200, 9%, 93%);
  --input: rgb(249, 249, 250);
  --submit: hsl(0, 0%, 12%);
  --hover: hsl(210, 20%, 95%);
  --active: hsl(210, 20%, 90%);
  --focus: 0 0 2px hsla(224, 71%, 4%, 0.5);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: max(350px, 80vw);
  margin: 0 auto;
  background-color: var(--background);
}
